.body-container {
    min-height: calc(100vh - 128px);
    background-color:  #f1f1f1;
    /* display:flex; */
}

.fr-box.fr-basic .fr-wrapper > .fr-element.fr-view {
    min-height: calc(100vh - 181px);
}

.markdown-editor {
    flex-basis: 50%;
}

.markdown-preview {
    position: relative;
    flex-basis: 50%;
    height: calc(100vh - 129px);
    overflow: auto;
    padding: 1em;
}

.markdown-editor .mde-text {
    height: calc(100vh - 179px) !important;
}

.upload-image, .upload-file, .download-file {
    vertical-align: -0.125em !important;
}

.download-preview-file {
    position: absolute;
    top: 0.75em;
    right: 1em;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    background-color: #17a2b8;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-upload, .fa-download {
    font-family: FontAwesome;
    font-style: unset;
}
